.contact {
  margin-top: 50px;
  padding: 0px 0px 15px 15px;
}
.contact__header {
  font-size: 20px;
  margin-bottom: 15px;
}
.contact__email {
  padding: 5px 0px 10px 0px;
}
.email__link {
  color: white;
}
@media only screen and (min-width: 850px) {
  .contact {
    padding: 50px 0px 60px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
