* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #0a0a0a;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
.main {
}
.card__button,
.card__button--disabled {
  width: 215px;
  height: 45px;
  font-size: 14px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  background: transparent;
}
.card__button:hover {
  color: #000;
  background: rgba(255, 255, 255, 0.8);
}
.card__button--disabled:hover {
  background: rgba(240, 52, 52, 0.5);
}
p {
  font-size: 14px;
}
