.nav {
  display: flex;
  flex-direction: column;
  padding: 10px;
  animation-duration: 2s;
  animation-name: fadein;
}
@keyframes fadein {
  from {
    opacity: 0;
    padding: 0px;
  }
}
.nav__item {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  padding: 10px;
}
.media {
  position: absolute;
  top: 48vh;
  right: 0;
  transform: translate(-6%, -50%);
}
.media__icon {
  color: white;
}
.spotify:hover {
  color: #1db954;
}
.instagram:hover {
  color: #c13584;
}
.facebook:hover {
  color: #4267b2;
}
.media i {
  font-size: 25px;
  padding: 5px;
}
@media only screen and (min-width: 850px) {
  .nav__item {
    font-size: 18px;
  }
  .media {
    top: 68vh;
  }
}
