.nav {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.nav__item {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  padding: 10px;
}
.media {
  position: absolute;
  top: 43%;
  right: 0;
  transform: translate(-6%, -50%);
}
.media__icon {
  color: white;
}
.spotify:hover {
  color: #1db954;
}
.instagram:hover {
  color: #C13584;
}
.facebook:hover {
  color: #4267B2;
}
.media i {
    font-size: 25px;
    padding: 5px;
}
